<ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item item-icon-left" ng-click="doTest(collection)">
        	<i class="icon ion-flash"></i>
        	Làm bài kiểm tra
        </a>
        <a class="item item-icon-left ">
        	<i class="icon ion-share"></i>
			Chia sẻ
        </a>
        <a class="item item-icon-left" ng-click="guess(collection)">
       		<i class="icon ion-ios7-information"></i>
          	Đoán từ
        </a>
      </div>
    </ion-content>
  </ion-popover-view>