<ion-view title='Collection'>
	<ion-content>
		<div class='collection-title'>
			<span>{{ collection.currentCollection.title }}</span>
		</div>
		<ion-list>
			<ion-item ng-click="showWordDetail(item)" ng-repeat="item in collection.currentCollection.items" class='item-icon-right'>
				<div>
					<span class='word'>{{ item.word }}</span> {{ item.phonetic }}
					<p>{{ item.meaning }}</p>
				</div>
				<i class="icon ion-volume-medium"></i>
			</ion-item>
			
		</ion-list>
	</ion-content>
</ion-view>