<style>
.word {font-weight:bold}
</style>
<ion-view title='Collection' ng-controller="CollectionCtrl">
	<ion-content>
		<ion-list>
			<ion-item ng-click="toggleAnswer(item)" ng-repeat="item in items" class='item-icon-right'>
				<div ng-show="item.show">
					<span class='word'>{{ item.word }}</span> /{{ item.phonetic }}/
					
				</div>
				<div ng-hide="item.show">
				<p>{{ item.translate }}</p>
				</div>
				<i class="icon ion-volume-medium"></i>
			</ion-item>
			
		</ion-list>
	</ion-content>
</ion-view>