<ion-view title='Collection'>
	<ion-content class='padding'>
		<div class='center'>
			<a class="button button-icon icon ion-volume-high"></a>
		</div>
		<div class="row answer center">
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		</div>
		<div class=" answer center">
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		  <div class=""><input maxlength='1'/></div>
		</div>
		<div class='center'>
		<button class="button button-balanced center">
		  Answer
		</button>
		</center>
	</ion-content>
</ion-view>